
button{
    width:  200px;
    height: 200px;
}


.container-title{
    text-align: center;
    margin: auto;
    font-size: 2em;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 600px;
    margin: auto;
}
.winner-text{
    display: none;
}

.container-cont{
    margin: 60px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 40%;
    border: 2px solid #000;
}
button{
    font-size: 3em;
}


.cont-party{
    margin: auto;
}
.player-one{
    margin: auto;
}
.player-two{
    margin: auto;
}
